<html>
<head>
	<link rel="stylesheet" href="/static/css/style.css">
	<link href="https://fonts.googleapis.com/css?family=Bungee+Inline" rel="stylesheet">
	<link href="https://fonts.googleapis.com/css?family=IM+Fell+DW+Pica:400i" rel="stylesheet">
</head>
	<body>
		<div class="aligner">
		<h1>Hello</h1>
		<canvas class="centered" id="canvas" width= "500px" height="500px"></canvas>
		<div class="info"><div class="info__blob">i</div><div class="info__text">Hero</div></div>
		</div>
		<div class="modal"></modal>


	<script   src="http://code.jquery.com/jquery-3.1.1.min.js"   integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8="   crossorigin="anonymous"></script>
	<script src="/static/js/script.js"></script>
	
	</body>
